<!DOCTYPE HTML>
<html>
	<head>
    <title>
      Portaforlio
      Josue
    </title>
      <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LJQFCVLDF5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

  gtag('config', 'G-LJQFCVLDF5');
</script>
  <!-- finaliza Global site tag (gtag.js) - Google Analytics -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Josue</title>
    <link rel="stylesheet" href="../assets/css/main2.css">
    <script src="https://kit.fontawesome.com/6b37ac19b8.js" crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
  </head>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Quien soy?</a></li>
							<li><a href="#one">Mis trabajos</a></li>
							<li><a href="#two">Habilidades</a></li>
              <li><a href="#three">Contacto</a></li>
              <li><a href="../index.html">Regresar</a></li>

						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>¿Quien soy?</h1>
							<!-- <p>Just another fine responsive site template designed by <a href="http://html5up.net">HTML5 UP</a><br />
              and released for free under the <a href="http://html5up.net/license">Creative Commons</a>.</p> -->
              <p>
                Mi nombre es Josue David Figueroa Flores Vivo en Mérida, Yucatán, México.
                Y tengo 20 años
              </p>

              <p>
                Actualmente estoy estudiando En la Universidad tecnológica
                metropolitana, la carrera en ingenieria en desarrollo y gestion de 
                software, cursando actualente el septimo cuatrimestre, con TSU en desarrollo de software
                multiplataforma
              </p>
							<!-- <ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul> -->
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a> -->
							<div class="content">
								<div class="inner">
									<h2>Juego de Dados</h2>
                  <!-- <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p> -->
                  <p>
                    Como parte de mi aprendizaje de Javascript, me propuse desarrollar
                    un pequeño y sencillo juego de dos dados con js vanilla, el cual consta de un jugador
                    y la "computadora", el cual al lanzar un par de dados, gana el del mayor 
                    puntaje
                  </p>
									<ul class="actions">
										<li><a href="https://josue1919.github.io/Dados/" class="button">Ver Proyecto</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<!-- <a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a> -->
							<div class="content">
								<div class="inner">
									<h2>Máximo común divisor </h2>
                  <!-- <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p> -->
                  <p>
                    Como parte de una tarea de la materia de seguridad informática 
Desarrollamos una aplicación que debe solicitar dos números y encontrar su máximo común divisor, el problema pedía específicamente resolver la problemática con JavaScript.

                  </p>
									<ul class="actions">
										<li><a href="https://mcd-ff684.web.app/" class="button">Ver Proyecto</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<!-- <a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a> -->
							<div class="content">
								<div class="inner">
									<h2>Gestión de cronogramas </h2>
                  <!-- <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p> -->
                  <p>
                    
Como parte de la materia de experiencia de usuario, nos pidieron elaborar una plantilla HTML, la cual serviría para que tutores pudieran generar un cronograma de actividades en base a actividades establecidas, pero se tendría que tomar en cuenta todo lo aprendido en clase con respecto a la materia.

                  </p>
									<ul class="actions">
										<li><a href="https://proyecto-ux01.web.app/" class="button">Ver Proyecto</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
				<section id="two" class="wrapper style3 fade-up">
					<div class="inner">
						<h2>¿Qué se hacer?</h2>
						<p>Mis conocimientos</p>
						<div class="features">
							<section>
								<span class="icon solid major fa-desktop"></span>
								<h3>Desarrollo Frontend</h3>								
								<p>Implementacion, conocimiento y buen manejor de diferentes tecnologias Front-End para el desarrollo
									,logica y diseño de paginas y aplicaciones web.
								</p>
								<li>HTML5</li>
								<li>Css</li>
								<li>Boostrap</li>
								<li>Javascript</li>
								<li>ReactJs</li>
							</section>
							<section>
								<span class="icon solid major fa-code"></span>
								<h3>Desarrollo Backend</h3>
								<p>Experiencia y conocimientos de lenguajes y de programación Back-End para el traslado y recolección
									 de diferentes tipos 
									de datos </p>
								<li>C#</li>
								<li>APIS con .net Core 3.1</li>
								<li>.net Framework</li>

							</section>
							<section>
								<span class="icon solid major fa-lock"></span>
								<h3>Base de datos</h3>
								<p>Habilidad en el manejo y cracion de bases de datos que son capaces de almacenar gran cantidad de datos,
									 relacionados y estructurados, que pueden ser consultados rápidamente de acuerdo con las características selectivas que se deseen.</p>
								<li>Sql Server</li>
								<li>MySQL</li>
								<li>Firebase</li>
							</section>
							<section>
								<span class="icon solid major fa-link"></span>
								<h3>Control de versiones</h3>
								<p>Habilidad con las diferentes ramas, versiones y buen control de la distribucion de los proyectos
									utilizando el sistema de manejo y control de versiones
								</p>
								<li>Git</li>
								<li>GitHub</li>
							</section>
							<section>
								<span class="icon solid fa-mobile"></span>
								<h3>Desarrolo Móvil</h3>
								<p>
									Experiencia en el desarrollo móvil
								</p>
								<li>Flutter</li>
								<li>Kotlin</li>
							</section>

							<section>
								<span class="icon solid fa-code"></span>
								<h3>Apis</h3>
								<p>
									Desarrolo de Apis Con NetFramework
									para proyecto final de TSU.
								</p>
								
							</section>
							

						</div>

					</div>
				</section>

				<!-- contacto -->
				<div id="three" class="wrapper style1 fade-up">
					<div class="inner">
					  <h2>Contáctame</h2>
					  <p style="font-size: 16pt; font-weight: bold;">Por si deseas consultar información acerca de mí, puedes <br>
						contactarme por medio de mis redes sociales o enviarme <br> un correo electronico 😃.</p>
					  <div class="split style1">
						
						<form id="app">
						  
						  <div class="row">
							
							  <label>
								Asunto:
							  </label>
							  <input id="asunto" class="form-control" type="text" v-model="subject" placeholder="Escribe el asunto..." required>
							  </input>
							
						  </div>
						 
						  <div class="row">
							
							<div class="col-lg-6">
							  <br><label>
								Nombre:
							  </label>
							  <input required id="name" class="form-control" type="text" v-model="from_name" placeholder="Nombre">
			  
							  </input>
			  
							</div>
			  
							<div class="col-md-6"> 
							  <br><label>
								Correo:
							  </label>
							  <input required id="mail"  type="email" v-model="from_email" placeholder="example@gmail.com">
							  </input>
							</div>
						  </div>
			  
						  <div class="row">
							<div class="col-md-6"> 
							 <br> <label> Mensaje:</label>
							
							</div>
							  
							<br>
							<textarea required id="mesaje" class="form-control" rows="6" v-model="message" cols="30" placeholder="Escribe tu mensaje aquí..."></textarea>
							<div class="col-md-12">
							  <br><button aria-required="" style="padding-right: 50px; padding-left: 50px;" @click="enviar" class="btn btn-success"> E n v i a r - M e n s a j e  </button>
			  
							</div>
						  </div>
			  
						  
						 
						</form>
						<section>
						  <ul class="contact">
							<li>
							  <h3>Residencia:</h3>
							  <span>México. <br>
								Mérida, Yucatán.<br /></span>
							</li>
							<li>
							  <h3>Email</h3>
							  <a href="https://www.gmail.com" target="_blank">josuefig19@gmail.com</a>
							</li>
							<li>
								<h3>LinkedIn</h3>
								<a href="https://www.linkedin.com/in/josu%C3%A9-david-figueroa-flores-2842181b2/" target="_blank">Josue Figueroa</a>
							  </li>
							  <li>
								<h3>GitHub</h3>
								<a href="https://github.com/" target="_blank">josue1919</a>
							  </li>
							<!-- <li>
							  <h3>Telefono</h3>
							  <span>(000) 000-0000</span>
							</li> -->
							<li>
							  <h3>Redes Sociales</h3>
							  <ul class="icons">
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a>
								</li>
								<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							  </ul>
							</li>
						  </ul>
						</section>
			  
			  
					  </div>
					</div>
			  
			  
					</section>
			  
			  
			  
			  
				  </div>

				<!-- Three -->
					<!-- <section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>12345 Somewhere Road #654<br />
											Nashville, TN 00000-0000<br />
											USA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">user@untitled.tld</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(000) 000-0000</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div> -->

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		 <!-- Scripts -->
		 <script src="js/jquery.min.js"></script>
		 <script src="js/jquery.scrollex.min.js"></script>
		 <script src="js/jquery.scrolly.min.js"></script>
		 <script src="js/browser.min.js"></script>
		 <script src="js/breakpoints.min.js"></script>
		 <script src="js/util.js"></script>
		 <script src="js/main.js"></script>
	 
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js">
		 </script>
		 <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript"></script>
		 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
		 <script>
		   (function () {
			 emailjs.init("user_MqfB0sKiLPXMcK9i9LXjH");
		   })();
		   const vue = new Vue({
			 el: '#app',
			 data() {
			   return {
				 from_name: '',
				 from_email: '',
				 message: '',
				 subject: '',
			   }
			 },
			 methods: {
			   enviar() {

				   
					


				   var asunto=document.getElementById("asunto").value;
				   var mensaje=document.getElementById("mesaje").value;
					var correo=document.getElementById("mail").value;
					var nombre=document.getElementById("name").value;

					if(asunto===""||mensaje===""||correo===""||nombre===""){
						alert("campo  vacio")
					}else{

						let data = {
				   from_name: this.from_name,
				   from_email: this.from_email,
				   message: this.message,
				   subject: this.subject,
				 };
	 
				 emailjs.send("gmail", "template_m96r8uj", data)
				   .then(function (response) {
					 if (response.text === 'OK') {
					   alert('El correo se ha enviado de forma exitosa');
					 }
					 console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
				   }, function (err) {
					 alert('Ocurrió un problema al enviar el correo');
					 console.log("FAILED. error=", err);
				   });
					}

				   
				
			   }
			 }
		   });
		 </script>
	 



	</body>
</html>